# Virtual env
venv/
# OS
.DS_Store
Thumbs.db
# Data zips/raw datasets (don't include big raw zips)
data/plant_disease/
data/processed/
# Jupyter checkpoints
.ipynb_checkpoints/
# Python compiled
__pycache__/
*.pyc
# logs/reports that are large or unnecessary
*.log
venv/
data/plant_disease/*.zip
